/* For the whole scrollbar track */
::-webkit-scrollbar {
    width: 5px; /* thickness of a vertical scrollbar */
    height: 5px; /* thickness of a horizontal scrollbar */
}

/* For the draggable handle */
::-webkit-scrollbar-thumb {
    background-color: #f7f5f5;
    border-radius: 5px;
}

/* For the non-covered part of the track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body {
    display: grid;
    background-color: rgb(11, 2, 2);
    color: white;
}

.container {
    overflow: scroll;
    display: grid;
    background-color: rgb(233, 16, 16);
    grid-template : 2fr 8fr 1.5fr / repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
        "h h h h h h h h h h"
        "s c c c c c c c c c"
        "f f f f f f f f f f";
    grid-gap: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.header {
    color: blue;
    font-size: 65px;
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: h;
    padding: 20px;
    background-color: rgba(95, 87, 141, 0.337);
    align-items: center;
}

.sidebar div {
    outline: none;
    margin : 0 10px;
    padding: 5px 0;
    margin-top: 10px;
    justify-content: center;
}

.sidebar div:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.sidebar div.active {
    font-weight: bold;
    text-decoration: underline;
}

.sidebar div:nth-child(4){
    margin-top: auto;
    margin-bottom: 5px;
}


.content {
    grid-area: c;
    color: black;
    background-color: rgb(202, 200, 16);
    display: grid;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    outline: 1px solid black;
}

.sidebar {
    grid-area: s;
    background-color: rgb(202, 123, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    outline: 1px solid black;
}

.footer {
    grid-area: f;
    background-color: rgb(230, 52, 221);
    display: grid;
    justify-content:space-around;
    align-items: center;
    outline: 1px solid black;
}